body {
    font-family: Arial, sans-serif;
    background: #76bece;
    align-items: center;
    
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: rgb(60, 73, 139) ;
    margin-top: 120px;

  }

  .one {
    margin-top: 0;
    font-size: 50px;
  }

  H3{
    margin-top: 1px;
    font-size: 13px;
    font-weight: 890px;
  }
  
  .money_converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="number"], select {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .result {
    display: none;
  }
  